
.barra{
    position:fixed;
    margin-top: -7vw;
}
.principal{
    background-image: url('img/Fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vw;   
    margin-top: 32vw;
}
.jeje {
    margin-top: -25vw;
    margin-left: 3vw;
    width: 20vw;
    height: 35vw;
    background-color: #ffff;
    padding: 2vw;
    border-radius: 1.5vw;
}
.jeje .p1{
    width: 95%;
    height: 0.5vw;
    padding: 0.4vw;
    margin-bottom: 0.2vw;
}
.jeje .p2{
    font-size: 1vw;  
    text-align: center;
    margin-bottom: -1.4vw;
}
.jeje .p3{
    font-size: 0.6vw;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: -2vw;
}
.jeje .p4 {
    margin-top: -0.4vw;

    font-size: 0.8vw;
}
.jeje .p5{
    margin-top: 2vw;
    font-size: 0.8vw;
}
.jeje .p6{
    width: 40%;
    margin-left: 30%;
    margin-top: 1vw;
    line-height: 2.083vw; 
    border-radius: 2vw;
    background-color: rgb(70, 140, 168); 
    color: white; 
    text-align: center; 
    font-size: 0.8vw;
}
.registro .p1{
    margin-left: 8vw;
    margin-top: 4vw;
}
.ingreso .p1{
    font-size: 2vw;
    margin-left: 65%;
    margin-top: -25vw;
}
.ingreso .p11{
    font-size: 2vw;
    margin-left: 65%;
    margin-top: 12vw ;
}
.ingreso .p2{
    font-size: 1.2vw;
    margin-left: 62%;
}
.ingreso .p3{
    font-size: 1.2vw;
    margin-left: 58.5%;
}
.ingreso .p4{
    font-size: 1.2vw;
    margin-left: 61%;
}
.ingreso .p5{
    font-size: 1.2vw;
    margin-left: 65%;
}
.ingreso .p6{
    margin-left: 66.5%;
}

/*segun parte donde se cuentra texto */

.segundario{
    margin-top: 8vw;
}
.segundario .p1{
    font-size: 2vw;
    margin-left: 38vw;  
}
.segundario .p2{
    font-size: 1.6vw;
    margin-left: 6vw;
}
.segundario .p3{
    font-size: 1.6vw;
    margin-left: 6vw;   
}
.segundario .p4{
    font-size: 1.6vw;   
    margin-left: 6.5vw;
}
.segundario .p5{
    font-size: 1.6vw;
    margin-left: 3.8vw;   
}
.segundario .p6{
    font-size: 1.6vw; 
    margin-top: 2vw;
    margin-left: 8vw;
}
.segundario .p7{
    font-size: 1.6vw;
    margin-left: 8.5vw;   
}
.segundario .p8{
    font-size: 1.6vw;   
    margin-left: 1vw;
}
.segundario .p9{
    font-size: 1.6vw;   
    margin-left: 6vw;
}
.segundario .p10{
    font-size: 1.6vw;
    margin-left: 8vw;   
}
.segundario .p11{
    font-size: 1.6vw;   
    margin-left: 6.5vw;
}
.segundario .p12{
    font-size: 1.6vw;
    margin-left: 9vw;   
}
.segundario .p13{
    margin-left: 46%;
    margin-top: -50vw;
}
.segundario .p14{
    font-size: 1vw;
    margin-top: -2vw;
    margin-left: 13vw;
}
.segundario .p15{
    margin-top: -0.5vw;
    margin-left: 17.8vw;
}

/*tercera parte de la pagina*/

.terciario .p1{
    font-size: 3vw;
    margin-left: 39.8vw;
}
.terciario .p2{
    font-size: 2vw;
    margin-left: 20%;
    margin-top: 2vw;
}
.terciario .p3{
    font-size: 2vw;
    margin-left: 16.5vw;
}
.terciario .p4{
    font-size: 2vw;
    margin-left: 50%;
    margin-top: -8.8vw;
}
.terciario .p5{
    font-size: 2vw;
    margin-left: 43vw;
}
.terciario .p6{
    font-size: 2vw;
    margin-left: 83%;
    margin-top: -8.8vw;
}
.terciario .p7{
    font-size: 2vw;
    margin-left: 72.5vw;
}
.terciario .p8{
    font-size: 3vw;
    margin-left: 41vw;
}
.terciario .p9{
    margin-left: 13%;
}
.terciario .p10{
    margin-left: 11%;
}
.terciario .p11{
    margin-left: 10%;
}
.terciario .p12{
    margin-left: 31%;
    margin-top: 5vw;
}
.terciario .p13{
    margin-left: 62%;
    margin-top: -10vw;
}
.terciario .p14{
    font-size: 2vw;
    margin-left: 45%;
}
.terciario .p15{
    margin-left: 52.5% ;
}   

/*cuarte parte*/

.uno .p1{
    text-align: center;
    font-size: 3vw;
}
.uno .p2{
    margin-left: 48.8%;
    width: 2.083vw; 
    height: 2.083vw; 
    line-height: 2.083vw; 
    border-radius: 50%; 
    background-color: blue; 
    color: white; 
    text-align: center; 
    font-size: 1.042vw; 
}
.uno .p3{
    text-align: center;
    font-size: 1vw;
}
.uno .p4{
    text-align: center;
    font-size: 1vw;
}
.uno .p5{
    text-align: center;
    font-size: 1vw;
}
.uno .p6{
    text-align: center;
    font-size: 1vw;
}
.uno .p7{
    text-align: center;
    font-size: 1vw;
}

.dos .p1{
    margin-left: 48.8%;
    width: 2.083vw; 
    height: 2.083vw; 
    line-height: 2.083vw; 
    border-radius: 50%; 
    background-color: blue; 
    color: white; 
    text-align: center; 
    font-size: 1.042vw;  
}
.dos .p2{
    text-align: center;
    font-size: 1vw;
}
.dos .p3{
    text-align: center;
    font-size: 1vw;
}
.dos .p4{
    text-align: center;
    font-size: 1vw;
}
.dos .p5{
    text-align: center;
    font-size: 1vw;
}
.dos .p6{
    text-align: center;
    font-size: 1vw;
}
.dos .p7{
    margin-left: 48.85%;
}

.tres .p1{
    margin-left: 48.8%;
    width: 2.083vw; 
    height: 2.083vw; 
    line-height: 2.083vw; 
    border-radius: 50%; 
    background-color: blue; 
    color: white; 
    text-align: center; 
    font-size: 1.042vw;  
}
.tres .p2{
    text-align: center;
    font-size: 1vw;
}
.tres .p3{
    text-align: center;
    font-size: 1vw;
}
.tres .p4{
    text-align: center;
    font-size: 1vw;
}
.tres .p5{
    text-align: center;
    font-size: 1vw;
}
.tres .p6{
    text-align: center;
    font-size: 1vw;
}
.tres .p7{
    text-align: center;
    font-size: 1vw;
}
.tres .p8{
    text-align: center;
    font-size: 1vw;
}

.cuatro .p1{
    margin-left: 48.8%;
    width: 2.083vw; 
    height: 2.083vw; 
    line-height: 2.083vw; 
    border-radius: 50%; 
    background-color: blue; 
    color: white; 
    text-align: center; 
    font-size: 1.042vw;  
}
.cuatro .p2{
    text-align: center;
    font-size: 1vw;
}
.cuatro .p3{
    text-align: center;
    font-size: 1vw;
}
.cuatro .p4{
    text-align: center;
    font-size: 1vw;
}
.cuatro .p5{
    text-align: center;
    font-size: 1vw;
}
.cuatro .p6{
    text-align: center;
    font-size: 1vw;
}
.cuatro .p7{
    text-align: center;
    font-size: 1vw;
}
.cuatro .p8{
    margin-left: 48.85%;
}

.cinco .p1{
    margin-left: 48.8%;
    width: 2.083vw; 
    height: 2.083vw; 
    line-height: 2.083vw; 
    border-radius: 50%; 
    background-color: blue; 
    color: white; 
    text-align: center; 
    font-size: 1.042vw;  
}
.cinco .p2{
    text-align: center;
    font-size: 1vw;
}
.cinco .p3{
    text-align: center;
    font-size: 1vw;
}
.cinco .p4{
    text-align: center;
    font-size: 1vw;
}
.cinco .p5{
    text-align: center;
    font-size: 1vw;
}

/*quinta parte */

.quinto .p2{
    text-align: center;
    font-size: 2.5vw;
    margin-top: -17vw;
    color: #ffff;
}
.quinto .p3{
    text-align: center;
    color: #ffff;
    font-size: 1.5vw;
}
.quinto .p4{
    margin-left: 40vw;
}

.sexto{
    margin-top: 6vw;
}